In [26]:
#LOADING DATASET

In [27]:
import pandas as pd

In [28]:
"""
1. pandas support Full Table
2. It is used to handle tables and files.
3. Functions are globalized under pandas
4. While Executing "import pandas" -> all functions created under pandas are loaded into the file memory
"""

'\n1. pandas supp\n'

In [8]:
dataset=pd.read_csv("Salary_Data.csv")

In [ ]:
"""
1.read_csv is a function name
2.pd.read_csv -> calling the function read_csv
Note: "File Not Found Error" Occurs due to the reasons
1. The Dataset must be in the same folder of ipython notebook file.
2. Type the Dataset name with correct spelling.
"""

In [11]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
#ASSIGNING INPUT AND OUTPUT VARIBLE

In [12]:
independent=dataset[["YearsExperience"]]

In [ ]:
"""
1. Where independent - input variable.
2.Fetching the "YearsExperience" column from the dataset.
"""

In [5]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [13]:
dependent=dataset[["Salary"]]

In [ ]:
"""
1. Where dependent - output variable.
2. Fetching the "Salary" column from the dataset.
"""

In [7]:
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
#SPLITTING TRAINING AND TEST SET DATA

In [14]:
from sklearn.model_selection import train_test_split

In [ ]:
"""
1. sklearn Library support Machine Learning
2. To split training and test set process we need sklearn library.
3. While calling particular function by using "from and import".It saves memory by instead loadinf all the functions into the memory like pandas.
"""

In [15]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [ ]:
"""
1. "train_test_split" is a parameterized function.
2. We need to give independent variable, dependent variable, test_size, and random_state as parameters/arguments.
3. It returns 4 variables as output such as x_train,x_test,y_train, and y_test.
4. Where x => input, y=> output
"""

In [ ]:
#LEARNING PHASE - MODEL CREATION

In [16]:
from sklearn.linear_model import LinearRegression
#Using thing function we create model.

In [17]:
regressor= LinearRegression()

In [ ]:
"""
1. regressor is a variable
2. LinearRegression is considered as class.
"""

In [18]:
regressor.fit(x_train,y_train)

LinearRegression()

In [ ]:
"""
1. Calling the method/function "fit" by using access operator.
2. fit method is the substition process of substitutuing training set values.
3. It calculates weight and bias.
4. Learning phase is done here.
"""

In [ ]:
#TO SEE AND GET WEIGHT AND BIAS FROM THE CREATED MODEL

In [19]:
weight = regressor.coef_
#weight is calculated by using the method "coef_"

In [14]:
weight

array([[9360.26128619]])

In [20]:
bias=regressor.intercept_
#bias is calculated by using the method "intercept_"

In [16]:
bias

array([26777.3913412])

In [ ]:
#EVALUATION METRICS

In [21]:
y_pred=regressor.predict(x_test)

In [ ]:
"""
1. "predict" is an application function
2. Evaluation metrics is done here for input test data.
"""

In [22]:
from sklearn.metrics import r2_score

In [23]:
r_score=r2_score(y_test, y_pred)

In [ ]:
"""
1. Calculating r_score
2. If the value is nearly to 1 - Model Performs well.
3. If the value is nearly to 0 - Poor Model.
"""

In [24]:
r_score

0.9740993407213511

In [ ]:
#TO SAVE THE CREATED MODEL

In [21]:
import pickle
#pickle is used to save the model.

In [22]:
filename="finalized_model_linear.sav"

In [ ]:
"""
1. Creates filename for the finnalized model.
Note : pickle extension for saving the file ".sav"
"""

In [23]:
pickle.dump(regressor, open(filename,'wb'))

In [ ]:
"""
1. wb means write
2. The finalized model is saved into the file.
"""

In [ ]:
#LOAD AND CHECK THE PREDICTED MODEL (DEPLOYMENT)

In [24]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [ ]:
"""
1. rb means read
"""

In [25]:
result=loaded_model.predict([[15]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
"""
1. Predicts the model by passing individual value as inout.
"""

In [26]:
result

array([[167181.3106341]])