In [1]:
#LGBoost Algorithm
import pandas as pd

In [4]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
#ONE HOT ENCODING for Nominal Data
dataset=pd.get_dummies(dataset, drop_first=True)
dataset=dataset.astype(int)
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#SPLITTING INDEPENDENT (INPUT) AND DEPENDENT (OUTPUT) VARIABLE

In [9]:
#To view columns in the dataset
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [12]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
#SPLITTING TRAINING AND TEST SET

In [14]:
#Model Selection
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [16]:
#install lightgbm
!pip install lightgbm==3.3.5

Collecting lightgbm==3.3.5
  Downloading lightgbm-3.3.5-py3-none-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: wheel in c:\anaconda3\lib\site-packages (from lightgbm==3.3.5) (0.41.2)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from lightgbm==3.3.5) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from lightgbm==3.3.5) (1.11.4)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\anaconda3\lib\site-packages (from lightgbm==3.3.5) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.5) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.5) (2.2.0)
Downloading lightgbm-3.3.5-py3-none-win_amd64.whl (1.0 MB)
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.0 MB 393.8 kB/s eta 0:00:03
   ----- ---------------------------------- 0.1/1.0 MB 877.7 kB/s eta 0:00:02
   ----------- ---------------------------- 0.3/1.0 MB 1.5 MB/s eta 0:00:01
   --------------------- ------------------ 0.5/1.0 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 0.9/1.0 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  1.0/1.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 1.0/1.0 MB 1.7 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.5

In [17]:
import lightgbm as lgb

In [19]:
regressor= lgb.LGBMRegressor(boosting_type='gbdt',num_leaves=31,max_depth=-1, learning_rate=0.1,n_estimators=100)
regressor.fit(X_train,Y_train)

LGBMRegressor()

In [20]:
y_pred=regressor.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
r_score=r2_score(y_pred, Y_test)
r_score

0.8586048641970232