In [74]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [75]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [76]:
dataset=pd.get_dummies(dataset, drop_first=True)
dataset=dataset.astype(int)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [77]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [78]:
#splitting training and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size=1/3, random_state=0)

In [79]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test_ = sc.transform(X_test)

In [80]:
from sklearn.ensemble import RandomForestClassifier

In [81]:
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1_weighted', verbose=3)

In [82]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test_) 

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [83]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100}

In [84]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.046673,0.003752,0.005187,0.000399,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.826263,0.868752,0.833323,0.905069,0.961755,0.879032,0.050001,9
1,0.337696,0.020141,0.021742,0.002778,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.887346,0.888107,0.851527,0.925272,0.962264,0.902903,0.037748,1
2,0.032313,0.001954,0.005585,0.000798,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.826263,0.888107,0.832483,0.925272,0.943041,0.883033,0.047306,7
3,0.345874,0.034677,0.019149,0.000399,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.826263,0.870047,0.851527,0.925272,0.943699,0.883362,0.044380,6
4,0.033710,0.002631,0.004986,0.000631,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.804764,0.849057,0.833323,0.870362,0.923510,0.856203,0.039878,12
5,0.320144,0.017830,0.020744,0.003116,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.867478,0.850809,0.851527,0.925272,0.962264,0.891470,0.044674,3
6,0.038696,0.004388,0.005186,0.000399,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.847141,0.849057,0.814409,0.925272,0.903610,0.867898,0.040531,10
7,0.352058,0.027057,0.023537,0.006693,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.867478,0.907177,0.851527,0.925272,0.943041,0.898899,0.034479,2
8,0.034509,0.004704,0.006981,0.003989,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.804764,0.868752,0.832483,0.906935,0.923510,0.867289,0.044397,11
9,0.316553,0.013240,0.020745,0.000399,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.867478,0.888107,0.851527,0.906166,0.943699,0.891396,0.032019,4
10,0.032512,0.001017,0.005186,0.000399,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.831253,0.851527,0.943699,0.943041,0.879157,0.053109,8
11,0.285236,0.016291,0.018950,0.002093,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.847141,0.868752,0.851527,0.925272,0.943699,0.887278,0.039646,5

In [85]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [86]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100}: 0.9256751954513147

In [87]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[79  6]
 [ 4 45]]

In [88]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.93      0.94        85
           1       0.88      0.92      0.90        49

    accuracy                           0.93       134
   macro avg       0.92      0.92      0.92       134
weighted avg       0.93      0.93      0.93       134

In [89]:
#from sklearn.metrics import roc_auc_score
#roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

In [90]:
table_pr=pd.DataFrame()

In [91]:
print(X_test)

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
168   29           148000            1
150   26            15000            0
393   60            42000            1
66    24            19000            1
240   42           149000            1

[134 rows x 3 columns]

In [92]:
table_pr['Age']=X_test["Age"]
table_pr['Gender_male']=X_test["Gender_Male"]
table_pr['Estimated_Salary']=X_test["EstimatedSalary"]
table_pr['Actual']=y_test
table_pr['Predicted']=grid_predictions

In [93]:
table_pr.head(134)

     Age  Gender_male  Estimated_Salary  Actual  Predicted
132   30            1             87000       0          0
309   38            0             50000       0          0
341   35            1             75000       0          0
196   30            0             79000       0          0
246   35            0             50000       0          0
..   ...          ...               ...     ...        ...
168   29            1            148000       1          1
150   26            0             15000       0          0
393   60            1             42000       1          1
66    24            1             19000       0          0
240   42            1            149000       1          1

[134 rows x 5 columns]

In [94]:
table_pr.to_csv("cm.csv",index=False)

In [100]:
dataset['Predicted']=grid_predictions

ValueError: Length of values (134) does not match length of index (400)

In [97]:
age_input=float(input("Age:"))
EstimatedSalary_input=float(input("Estimated Salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age: 45
Estimated Salary: 22
Sex Male 0 or 1: 34

In [98]:
Future_Prediction=grid.predict([[age_input,EstimatedSalary_input,sex_male_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]